_UpgradeReport_Files
UpgradeLog.XML
source/**/**/obj
source/**/**/bin
obj
bin
*.config
*.vssscc
*.vspscc
*.chm
_[Rr]e[Ss]harper.*
*.csproj[1-9]*
*.csproj.user
*.[Rr]e[Ss]harper.user
*.[Rr]e[Ss]harper
*.suo
*.cache
*~
*.stackdump
*.swp
*.swo
*.user
Source/docs/Help/*.*
artifacts
*.orig
build/tools/hstart/null
build/configuration/tools.yaml
*.sdcs
build/tasks/start_iis.bat
build/tasks/start_iis_new.bat
GemFile.lock
*.BACKUP.[1-9]*
*.LOCAL.[1-9]*
*.REMOTE.[1-9]*
*.docstates
start_iis.bat.erb
blah.txt
*_mm_cache*
